* {
  box-sizing: border-box;
  margin: 0;
}

body {
  --background-color: white;
  --text-color: black;
  --elements-color: white;
  font-family: Nunito, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark {
  --background-color: hsl(207, 26%, 17%);
  --text-color: white;
  --elements-color: hsl(209, 23%, 22%);
}

.header {
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  background-color: var(--elements-color);
  z-index: 1000;
}

.header-container {
  display: flex;
  max-width: 78em;
  margin: auto;
  padding: 1.2em 3em;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

.header-text h1 {
  font-weight: 800;
  font-size: 1.5em;
  cursor: pointer;
  color: var(--text-color);
}

.theme-changer {
  display: flex;
  cursor: pointer;
}

.moon-icon {
  padding-right: 0.6em;
}

main {
  max-width: 78em;
  margin: auto auto 2em auto;
  padding: 0 3em;
}

.search-and-filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container,
.filter-container {
  display: flex;
  margin-top: 2em;
  max-width: 16em;
  height: 2.7em;
  width: 100%;
  padding: 0.7em 1em;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--elements-color);
}

.search-icon {
  padding-right: 0.7em;
}

.input-field input {
  width: 112%;
  border: none;
  outline: none;
  color: var(--text-color);
  background-color: var(--elements-color);
}

.filter-by-region {
  border: none;
  outline: none;
  width: 100%;
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--elements-color);
}

.countries-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, max(16em));
  margin-top: 2em;
  gap: 2em 0.5em;
  justify-content: space-between;
}

.countries-cards-container a {
  text-decoration: none;
  color: black;
  color: var(--text-color);
}

.country-card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--elements-color);
  padding-bottom: 1em;
  transition: all 0.2s ease-in-out;
  height: 26.5em;
}

.country-card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.2);
}

.country-card img {
  width: 100%;
  max-height: 12em;
  height: 100%;
  object-fit: contain;
}

.country-name {
  padding: 16px;
  font-size: 24px;
  font-weight: 700;
}

.country-population,
.country-region,
.country-capital {
  padding-bottom: 0.4em;
  padding-left: 1em;
}



@media (max-width: 780px) {
  .header-text h1 {
    font-size: 1em;
  }

  .theme-changer {
    font-size: 0.8em;
  }

  .header-container {
    padding: 1em 3em;
  }
}

@media (max-width: 639px) {
  .search-and-filter-container {
    flex-direction: column;
  }
}

@media (max-width: 630px) {
  .countries-cards-container {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .header-container {
    padding: 1em 1em;
  }
}

@media (max-width: 340px) {
  .input-field input {
    width: 100%;
  }
}
